<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Language Processing</title>
</head>

<body>

    <main>

        <section>
            <form>
                <input type="text" name="input" placeholder="URL" id="userText">
                <input type="submit" name="" value="submit" id="formSubmit">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
                
    </main>

</body>

</html>