#results {
    background-color: #454545;
    color: #f5f5f5;
    padding: 2rem 1rem;
}

#results ul {
    line-height: 2rem;
}

#results ul li {
    list-style: none;
}

#results ul li::after {
    content: ",";
}

#results ul li:last-child::after {
    content: "";
}

